.div-background{
    background-image: url('https://i.pinimg.com/originals/e8/60/fb/e860fb9548480e56996c8a8eed6a442d.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-shadow: 0px 0px 16px #000, 0px 0px 64px #00f;
}
