.div-background{
    backgroun-image: url('https://www.askideas.com/media/45/Panorama-View-Of-The-Hong-Kong-Disneyland.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}