{% load static files %}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
{% include "header.html" %}
<body>
{# include "navbar.html" #}
    <main role="main">
        <div class="oontainer py-5">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <img src="{% static '404.png' %}" class="img-fluid" alt=""></br>
                <h2>ERRO 404</br>
                <small>Page not found</small></h2>
            </div>
        </div>
    </main>
</body>
</html>